<template name="MainLayout">
    {{> headerBar}}
    <div id="main">
        {{#if currentUser}}
            <div class="myContainer pushDown">
                {{> Template.dynamic template=main}}
            </div>
        {{else}}
            <div class="myContainer pushDown">
                {{> Template.dynamic template=notLoggedIn}}
            </div>
        {{/if}}
    </div>
    {{> snackbar}}
</template>