<head>
  <title>Trivia Challenge</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link href="./lib/assets/milligram-dark.min.css" rel="stylesheet">
</head>

<body>

</body>
