/* CSS declarations go here */

.myContainer {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

/* style the image upload input */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background: #ADD8E6;
}

.gameWait {
    margin-top: 20vh;
    font-size: 32px;
    font-family: courier;
    text-align: center;
}

textarea {
    font-size: 16px;
}

@media print {
    .cardWhole {
        font-size: 14pt;
        border: 1px solid #a1a1a1;
        margin: 5px;
    }
}