<template name="headerBar">
    <header class="stickyNav">
        <h4 class="header">
            <a href="#" class="menu navhead">{{> menuBtn}}</a>
            <a href="#" class="logo">Trivia Challenge</a>
        </h4>
        {{> navMain}}
    </header>
</template>
