<template name="userInfo">
    <h4>User Info</h4>
    {{#if Template.subscriptionsReady}}
    <div class="row">
        <div class="column">
            <table>
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                        <tr>
                            <td>
                                {{username}}
                            </td>
                            <td>
                                {{userEmail}}
                            </td>
                            <td>
                                {{userRole}}
                            </td>
                            <td>
                                <i class="fa fa-key tooltip"><span class="tooltiptext">Reset Password</span></i>
                                <i class="fa fa-trash tooltip"><span class="tooltiptext">Delete User</span></i>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
</template>
