<template name="joinAGame">
    <div>
        <div class="row">
            <div class="column">
                <label>Enter the Game Id:
                    <input type="text" id="joinWithId" />
                </label>
            </div>
        </div>
        or
        <br />
        <div class="row">
            <div class="column">
                <label>Enter a Game Name:
                    <input type="text" id="joinWithName" />
                </label>
            </div>
            and
            <div class="column">
                <label>Enter Game Owner:
                    <input type="text" id="joinWithOwner" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <button class="button button-blue primary" id="joinNow">Join Now</button>
            </div>
        </div>
    </div>
    <div id="joinAGameQuick">
        {{> activeGameList}}
    </div>
</template>
