<template name="displayQuestions">
    <div class="row">
        <div class="column">
            <h3>Game Code: <strong>{{gameCode}}</strong></h3>
        </div>
        {{#each currentQuestion}}
        <div class="column">
            <div class="questionNo">
                <h4>Question Number: <strong>{{questionNo}}</strong></h4>
            </div>
        </div>
        {{/each}}
    </div>
    {{#each currentQuestion}}
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <h3>Question:<br />
                    <strong>{{qQuet}}</strong></h3>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="playerScores">
                            Game Scorecard:
                        <table class="scoreTitle">
                            <tr>
                                <th>
                                    <strong>Team</strong>
                                </th>
                                <th>
                                    <strong>Points</strong>
                                </th>
                                <th>
                                    <strong>Questions Right</strong>
                                </th>
                                <th>
                                    <strong>Player Score</strong>
                                </th>
                                <th>
                                    <strong>Questions So Far</strong>
                                </th>
                            </tr>
                            {{#each teamScore}}
                                {{#each players}}
                                    <tr>
                                        <td>
                                            {{name}}
                                        </td>
                                        <td>
                                            {{points}}
                                        </td>
                                        <td>
                                            {{questionsCorrect}}
                                        </td>
                                        <td>
                                            {{teamPercent}}
                                        </td>
                                        <td>
                                            {{questionsAns}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br />
    <br />
    <div class="row">
        <div class="column">
            <button class="button button-red" id="endGame">End Game</button>
        </div>
    </div>
</template>
