<template name="gameMaster">
    <div class="row">
        <div class="column centerMe">
            <h4>All teams are waiting for you to start the game...<br /> <strong>{{gameName}}</strong> with code <strong><gamecode style="font-family:serif;">{{gameCode}}</gamecode></strong></h4>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="column">
            {{#each playersInfo}}
                Number of Players / Teams: {{numberOfPlayers}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="column">
            {{> teamList}}
        </div>
    </div>
    <div class="activeGameListMstrDiv">
        {{> activeGameListMstr}}
    </div>
</template>
