<template name="reg">
    {{#if $not currentUser}}
    <div id="registrationForm">
        <div class="row">
            <div class="column">
                <div align="center">
                    <div class="card mid-card">
                        <h4>Register</h4>
                        <div class="card-content">
                            <form class="register">
                                <div class="row">
                                    <div class="column">
                                        <label for="name">Your Full Name *</label>
                                        <input type="text" name="name"
                                            class="name {{#if $eq misName true}}missing-info{{/if}}" id="name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="email">Email *</label>
                                        <input type="email" name="email" id="email" class="email {{#if $eq misEmail true}}missing-info{{/if}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="username">Username</label>
                                        <input type="text" class="username {{#if $eq misUsername true}}missing-info{{/if}}" id="username"  />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="password">Password *</label>
                                        <input type="password" name="password" id="password"
                                            class="password {{#if $eq misPass true}}missing-info{{/if}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="passwordConfirm">Confirm Password *</label>
                                        <input type="password" name="passwordConfirm" id="passwordConfirm"
                                            class="passwordConfirm {{#if $eq misPassConfirm true}}missing-info{{/if}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <button class="button-green" id="registerMe">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-action">
                            <a href="#" id="login">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>