<template name="createGameActionBtns">
    <div class="row">
        <div class="column">
            <button class="button button-orange cancel" id="cancelCreateGame">Cancel</button>
        </div>
        <div class="column">
            <button class="button button-green right primary" id="saveCreateGame">Next >></button>
        </div>
    </div>
</template>
