<template name="navMain">
    <div id="mySidenav" class="sidenav">
        <a href="#"><i class="fa fa-close faWhite closebtn"></i></a>
            {{#if currentUser}}
                <a href="#" class="signOut"><i class="fa fa-sign-out fa-fw myNav signOut" aria-hidden="true"></i>&nbsp; Logout</a>
                <a href="#" class="navBtn mainMenu" id="mainMenu"><i class="fa fa-compass fa-fw navBtn mainMenu" aria-hidden="true"></i>&nbsp; Main Menu</a>
                <a href="#" class="navBtn joinAGame" id="joinAGame"><i class="fa fa-user-plus fa-fw navBtn joinAGame" aria-hidden="true"></i>&nbsp; Join A Game</a>
                <a href="#" class="navBtn createAGame" id="createAGame"><i class="fa fa-trophy fa-fw navBtn createAGame" aria-hidden="true"></i>&nbsp; Create A Game</a>
                <a href="#" class="navBtn addQuestions" id="addQuestions"><i class="fa fa-question-circle fa-fw navBtn addQuestions" aria-hidden="true"></i>&nbsp; Add Questions</a>
                <a href="#" class="navBtn importQuestions" id="importQuestions"><i class="fa fa-cloud-download fa-fw navBtn importQuestions" aria-hidden="true"></i>&nbsp; Import Questions</a>
                <a href="#" class="navBtn printGameCards" id="printGameCards"><i class="fa fa-print fa-fw navBtn printGameCards" aria-hidden="true"></i>&nbsp; Print Game Cards</a>
            
            <hr>
                {{#if isInRole 'systemadmin, editor'}}
                    <a href="#" class="navBtn addCategories" id="addCategories"><i class="fa fa-plus-circle fa-fw navBtn addCategories" aria-hidden="true"></i>&nbsp; Add Category</a>
                    <a href="#" class="navBtn questionsList" id="questionsList"><i class="fa fa-pencil-square fa-fw navBtn questionsList" aria-hidden="true"></i>&nbsp; Edit Questions</a>
                {{/if}}
            <hr>
                {{#if isInRole 'systemadmin'}}
                    <a href="#" class="navBtn emailSetup" id="emailSetup"><i class="fa fa-envelope fa-fw navBtn emailSetup" aria-hidden="true"></i>&nbsp; Email Setup</a>
                    <a href="#" class="navBtn userInfo" id="userInfo"><i class="fa fa-user fa-fw navBtn userInfo" aria-hidden="true"></i>&nbsp; Users</a>
                {{/if}}
            {{else}}
                <a href="#" class="signIn"><i class="fa fa-sign-in fa-fw myNav signIn" aria-hidden="true"></i>&nbsp; Sign-In</a>
            {{/if}}
    </div>
</template>
