<template name="finalScoreCard">
    <div class="row">
        <div class="column">
            <h2>Final Scores!</h2>
        </div>
        <div class="column">
            <h4>Game Code: <strong>{{gameCode}}</strong></h4>
        </div>
    </div>
    <div class="playerScores">
        <div class="ScoresTitle">
            <h3>Game Scorecard:</h3>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <table class="table scoreTitle">
                            <tr>
                                <th>
                                    <strong>Team</strong>
                                </th>
                                <th>
                                    <strong>Points</strong>
                                </th>
                                <th>
                                    <strong>Questions Right</strong>
                                </th>
                                <th>
                                    <strong>Total Answered</strong>
                                </th>
                            </tr>
                            {{#each teamScore}}
                                {{#each players}}
                                    <tr>
                                        <td>
                                            {{name}}
                                        </td>
                                        <td>
                                            {{points}}
                                        </td>
                                        <td>
                                            {{questionsCorrect}}
                                        </td>
                                        <td>
                                            {{questionsAns}}
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
