.button-option {
    width: 80vw;
    height:15vh;
    font-size: 3vh;
    display: table;
}

.button-option p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.answerClick {
    width: 80vw;
    height:15vh;
    font-size: 3vh;
    display: table;
}

.answerClick p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.button-trueFalse {
    width: 30vw;
    height:20vh;
    font-size: 3vh;
    display: table;
}

.button-trueFalse p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.question, .waiting {
    font-size: 24px;
}

.button-correct, button-correct:hover {
    background: #32CD32 !important;
}
