<template name="gamePlay">
    {{#if anyGames.count}}
        {{#each currentGameStatus}}
            <div class="row">
                <div class="column">
                    <h4>Welcome to <strong>{{gameName}}</strong></h4>
                </div>
            </div>
            {{#if $eq gameStatus "started"}}
            {{#each nextQuestion}}
                {{> activeQuestion}}
            {{/each}}
            {{else if $eq gameStatus "Waiting"}}
                <div class="row">
                    <div class="column">
                        <h4>Waiting for other users...Please stand by for the game to start.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {{> teamList}}
                    </div>
                </div>

            {{else if $eq gameStatus "paused"}}
                <div class="row">
                    <div class="column">
                        <h4>The Game Master has <strong>Paused</strong> the Game... Please Stand By...</h4>
                    </div>
                </div>

            {{else if $eq gameStatus "complete"}}
                <div class="row">
                    <div class="column">
                        {{> finalScoreCard}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    {{else}}
        {{> quickJoin}}
    {{/if}}
</template>
