<template name="addCategories">
    <div class="row">
        <div class="column">
            <label>Enter a New Category:
                <input type="text" id="addCategory" placeholder="Add a Category..." />
            </label>
        </div>
        <div class="column">
            <label>Enter a Category Description:
                <textarea id="addDescription" placeholder="Add a Category Description"></textarea>
            </label>
        </div>
    </div>
    {{#if getCategories}}
    <div id="categoryList">
        Categories:
        <table>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Category Description
                </th>
                <th>
                    # Questions in Category
                </th>
                <th>
                    Delete
                </th>
            </tr>
            {{#each getCategories}}
            <tr>
                <td>
                    {{category}}
                </td>
                <td>
                    {{description}}
                </td>
                <td>
                    {{countQuestions}}
                </td>
                <td>
                    {{#if $neq category 'Uncategorized'}}
                        <i class="fa fa-trash navBtn deleteCategory" aria-hidden="true"></i>
                        <i class="fa fa-pencil navBtn editCategories" aria-hidden="true"></i>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}
    <div class="row">
        <div class="column">
            <button class="button button-orange" id="cancelAddCategory">Cancel</button>
        </div>
        <div class="column">
            <button class="button button-green right" id="saveCategory">Save</button>
        </div>
    </div>
    {{> snackbar}}
</template>
