<template name="printQuestions">
        <div class="row">
            <div class="column">
                <h4>Filters</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="printCat">Category
                <select name="printCat" id="printCat">
                    {{#each catList}}
                        <option value="{{category}}">{{category}}</option>
                    {{/each}}
                </select>
                </label>
            </div>
        </div>
        {{#each allQuestions}}
        <div class="cardWhole">
            <div class="row">
                <div class="column column-50">
                    Category: <strong>{{category}}</strong>
                </div>
                <div class="column column-50">
                    Difficulty Level: <strong>{{difficulty}}</strong>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="column">
                    Question: <br />
                    <strong>{{question}}</strong>
                </div>
            </div>
            <br />
            {{#if $eq type "multipleChoice"}}
            <div class="row">
                <div class="column column-50">
                    {{#if $eq sequence 1}}A. <strong>{{correctAnswer}}</strong>{{/if}}
                    {{#if $eq sequence 2}}A. {{inCorrectAnswers.[0]}}{{/if}}
                    {{#if $eq sequence 3}}A. {{inCorrectAnswers.[1]}}{{/if}}
                    {{#if $eq sequence 4}}A. {{inCorrectAnswers.[2]}}{{/if}}
                </div>
                <div class="column column-50">
                    {{#if $eq sequence 2}}B. <strong>{{correctAnswer}}</strong>{{/if}}
                    {{#if $eq sequence 3}}B. {{inCorrectAnswers.[0]}}{{/if}}
                    {{#if $eq sequence 4}}B. {{inCorrectAnswers.[1]}}{{/if}}
                    {{#if $eq sequence 1}}B. {{inCorrectAnswers.[2]}}{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="column column-50">
                    {{#if $eq sequence 3}}C. <strong>{{correctAnswer}}</strong>{{/if}}
                    {{#if $eq sequence 4}}C. {{inCorrectAnswers.[0]}}{{/if}}
                    {{#if $eq sequence 1}}C. {{inCorrectAnswers.[1]}}{{/if}}
                    {{#if $eq sequence 2}}C. {{inCorrectAnswers.[2]}}{{/if}}
                </div>
                <div class="column column-50">
                    {{#if $eq sequence 4}}D. <strong>{{correctAnswer}}</strong>{{/if}}
                    {{#if $eq sequence 1}}D. {{inCorrectAnswers.[0]}}{{/if}}
                    {{#if $eq sequence 2}}D. {{inCorrectAnswers.[1]}}{{/if}}
                    {{#if $eq sequence 3}}D. {{inCorrectAnswers.[2]}}{{/if}}
                </div>
            </div>
            {{else}}
            <div class="row">
                <div class="column column-25">
                    Answer: <strong>{{correctAnswer}}</strong>
                </div>
                {{#if $eq correctAnswer "false"}}
                <div class="column column-75">
                    <strong>{{trueAnswer}}</strong>
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        <br /><br />
        {{/each}}
</template>
